.avatar {
    /* box-sizing: initial; isso faz com que a imagem não diminua de tamanho cpor causa das bordas */
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
    display: inline-block;
    /* display: block; 
    margin: auto; 
    position: relative; /*se não estivesse na posição relativa, a borda da imagem ficaria por trá da imagem cover */
    /* margin-top: -2rem; */ 
}